{
    "name": "Community_Bypass_Example",
    "knobs": [
        0.0,
        0.0,
        0.0,
        0.0,
        0.0,
        0.0,
        0.0,
        -0.7,
        -1.023438,
        -1.78125,
        -1.21875,
        0.0
    ]
}